.container{
   
}

.section-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    padding:  1.8rem 0;
}
.section_one,.section_two{
    padding:  1.8rem ;
}

#accordion-background, #accordion-details{
    background-color: #2D2D2D;
}

#accordion-details span{
    color: #fff;
}

@media screen and (min-width:480px){
    .container{
        padding: 0.9rem .25rem;
    }
    
}

@media screen and (min-width:600px){
    .container{
        padding: 0.9rem 1.9rem;
    }
    
}