

.section-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    padding:  1.8rem 0;
}
.section_one,.section_two{
    padding:  1.8rem ;
}

#accordion-background, #accordion-details{
    background-color: #2D2D2D;
}

#accordion-details span{
    color: #fff;
}



/* 360px and higher*/
@media screen and (min-width:360px){
    .cards{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
  
    
}

@media screen and (min-width:480px){
    .cards{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    
}


@media screen and (min-width:960px){
    .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}


@media screen and (min-width:1280px){
    .cards{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    
}