.header{
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    background-image: url("../../../public/assets/moviesBack.jpg");
    width: 100%;
    height: 100vh;
}

.navbar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
}

.hero-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 1rem;
}
.hero-section .hero-text{
    color: #fff;
    text-align: center;
}

.hero-section .hero-text h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.hero-section .hero-text p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.hero-section .hero-text h3{
    font-size: 1rem;
}
form div input {
    width: 60%;
    padding: 15px;
}
h3{
    color: #fff;
    margin-bottom: 1rem;
}
form div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: inherit;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}


/* 375px and higher*/
@media screen and (min-width:375px){
    .hero-text h1{
        font-size: 2rem !important;
    }
    .hero-text p{
        font-size: 1.6rem !important;
    }
}