*{
    margin: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    justify-items: center;
    z-index: 1000;
    padding: 1rem;
    overflow: visible;
}
.logo {
    color: #E50914 ;
    font-weight: 700;
    text-decoration: none;
    font-size: 2.8rem;
}

.hamburger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.3s ease;
  }

.list-items{
    /* display: none; */
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
}
.list-items li {
    list-style: none;
    padding: 2px;
    margin-right: 8px;
    text-decoration: none;
}
.list-items li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}
.list-items.active{
    right: 0;
    display: flex;
}


/* 360px and higher*/
@media screen and (min-width:360px){
    .list-items{
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        justify-content: start;
        gap: 1.1rem ;
        background-color: #000;
        width: 200px;
        height: 100vh;
        padding: 3rem 1rem;
        transition: right 0.4s ease;
        overflow: hidden;
        
    }
    
    .list-items.active{
        right: 0;
    }

    .hamburger{
        display: flex;
        z-index: 1001;
    }

      /* Hamburger Animation */
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
    nav{
        justify-content: space-between ;
    }
    .logo {
        font-size: 1.6rem;
    }
    
}


/* 600px and higher*/

@media screen and (min-width:600px){
  
    
    .hamburger{
        display: none;
    }

    .list-items{
        position:static;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        background-color: #000;
        width: auto;
        height: 3.5rem;
        gap: 0.3rem ;
        padding: 0;
    }
}


